.portrait-title h2 {
  font-size: 1rem;
}

.avatar-circle {
    margin-bottom: 30px;
}

/*
#about h1 {
    font-family: "Dancing Script";
}*/

.article-container {
  max-width: 750;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}
